* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
  background: var(--color-background); 
}

.full-container {
  /* Prevent text selection */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  
  /* Prevent long-press actions on mobile */
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-background);
  color: var(--color-text);

  padding-top: 72px; /*add padding for navbar*/

}

.cache-image {
  width: min(90vw, 1000px);
  height: auto;
  object-fit: contain;
  border-radius: 12px;
  margin: 20px 0;
}

.coords-wrapper {
  display: flex;
  flex-direction: row-reverse; /*TODO which way do i want these buttons*/
  justify-content: space-between;
  padding: 24px;
}

.submit-button {
  padding: 14px 32px;
  font-size: 18px;
  background: var(--color-button);
  color: var(--color-text);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
  margin-left: 16px;
}

.submit-button:hover {
  transform: translateY(-2px);
  background: var(--color-button-hover);
}

.submit-button:active {
  transform: translateY(0);
  background: var(--color-button-hover);

}

.disable-button {
  padding: 14px 32px;
  font-size: 18px;
  background: var(--color-button-disabled);
  color: var(--color-text);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
  margin-left: 16px;
}

.coords-display {
  /* margin-bottom: 16px; */
  padding: 10px 25px;
  background: #0a0a2459;
  /* border: 2px solid #7070d4; */
  border: 2px solid var(--color-coords-border);
  border-radius: 10px;
}

.coords-display p {
  margin: 5px 0;
  font-size: 16px;
}

.coords-display strong {
  /* color: #7070d4; */
  color: var(--color-coords-text)
}


.notification {
  margin-bottom: 16px;
  align-self: center;
}

.water p {
  font-size: 1.5rem;
  font-family: monospace;
}

.footer p {
  font-style: italic;
  color: #7070d4ff;
}