
.info-box {
  text-justify:distribute-all-lines;

  width: min(90vw, 500px);

  margin: 16px;

  padding: 4px 25px;
  background: var(--color-background-coords-display);
  border: 2px solid var(--color-coords-border);
  border-radius: 10px;
}

.info-box p {
  margin-top: 0px;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
  opacity: 87%
}

.info-box h1 {
  margin-top: 20px;
  margin-bottom: 12px;
  text-align: center;

  font-size: 1.3rem;
}



.info-row svg {
  float: left;
  margin-left: 20px;
  margin-right: 12px;
  margin-top: 10px;
}