.map-container {
  overscroll-behavior: contain;  /* Prevents page scroll */
  touch-action: none;  /* Prevents touch gestures from scrolling */

  /* Prevent text selection */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  
  /* Prevent long-press actions on mobile */
  -webkit-touch-callout: none;
  -webkit-user-drag: none;

  position: relative;
  display: inline-block;
  /* margin: 20px 0; */
  /* border: 4px solid #7070d4; */
  /* border-radius: 5px; */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  /* overflow: hidden; */

  background: var(--color-background-map);
}

.map-image {
  /* cursor: pointer; */
  display: block;
  width: min(90vw, 100%);
  /* width: auto;
  height: auto; */
  object-fit: contain;
}

.map-pin {
  position: absolute;
  width: 24px;
  height: 24px;
  /* transform: translate(-50%, -100%); */
  pointer-events: none;
  --zoom-factor: 1;
  transform-origin: bottom center;
}

/*
For some reason the pin animation is janky on mobile
and makes the map image blurry so let's just disable it on mobile.
This media query targets non-touch devices,
hover: hover is true for devices with a real pointer/mouse and false for touchscreens
*/
@media (hover: hover) {
  .map-pin {
    animation: pinDrop 0.1s ease-out
  }
}

@keyframes pinDrop {
  0% {
    transform: translate(-50%, -110%) scale(calc(.8 * var(--zoom-factor)));
    opacity: 0.5;
  }
  100% {
    transform: translate(-50%, -100%) scale(var(--zoom-factor));
    opacity: 1;
  }
}

/* .map-pin svg {
  filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.5));
} */


.zoom-controls {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 8px;
  border-radius: 8px;
  z-index: 10;
}

.zoom-controls button {
  min-width: 32px;
  padding: 0 12px;
  height: 32px;
  border: none;
  background: var(--color-button);
  color: var(--color-text-button);
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: background 0.2s;
}

.zoom-controls .reset-button {
  font-weight: normal;
  font-size: 14px;
}

.zoom-controls button:hover {
  background: var(--color-button-hover);
}

.zoom-controls span {
  color: var(--color-text-button);
  font-size: 14px;
  min-width: 50px;
  text-align: center;
}